{% extends 'base_front.html.twig' %}

{% block body %}


 
 <div class="alert alert-success" role="alert">
    {% if reclamation.user is not null %}
       							    
         							    <td>{{ reclamation.user.email }}</td>
										
       								 {% endif %} {{reclamation.description}}
    {{reclamation.destinataire}} {{reclamation.type}}
    {{reclamation.status}}  {{reclamation.createdAt|date('d-m-Y')}}
  </div>


{% endblock %}

{% block title %}


{% endblock %}
